@media only screen and (max-width: 990px) {
    .content {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .nav-img {
        margin-left: -5rem;
    }

    #sidebar {
        visibility: hidden;
    }

    #sidebar-sm {
        position: absolute;
        top: 0;
        left: 0;
        visibility: visible !important;
        margin-top: 1rem !important;
        width: 5rem;
        height: 100%;
    }

    #side-nav-sm {
        height: 100%;
    }

    #side-nav-sm .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
    }
}

body {
}

.card {
    margin: 15px;
    padding: 25px;
    text-align: left;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: -1px 1px 2px #333;
}

.card:hover {
    border: 1px solid #0025FF;
    box-shadow: -1px 1px 2px #0025FF;
}

.content {
    margin-top: 2rem;
    margin-left: 17rem;
    margin-right: 2rem;
}

.content h3 {
    margin-bottom: 1.5rem;
}

.content .card {
    min-width: 450px;
}

.form-control {
    max-width: 100%;
}

.input-text {
    position: relative;
    z-index: 1;
    margin-left: 10px;
    margin-bottom: -10px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background: #fcfcfc;
    color: #333;
    font-size: 0.9rem;
    transform: translateY(10px);
}

.links {
    display: inline-flex;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    line-height: 20px;
}

.links:hover {
    margin-left: -10%;
    background-color: #0025FF;
    color: #fcfcfc;
    width: 110%;
}

.links:hover img {
    margin-left: 10%;
    filter: drop-shadow(0px 0px 5px #fff);
}

.links.active {
    margin-left: -10%;
    background-color: #0025FF;
    color: #fcfcfc;
    width: 110%;
}

.links.active img {
    margin-left: 10%;
    filter: drop-shadow(0px 0px 5px #fff);
}

.links img {
    padding: 0px 25px 0px 25px;
    margin-top: auto;
    margin-bottom: auto;
    height: 1.5rem;
}

.links small {
    padding: 20px 15px 20px 0px;
    text-align: left;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.nav-img {
    margin-bottom: 1.5rem;
    width: 150px;
}

.side-nav {
    padding: 0;
    list-style-type: none;
}

.side-nav-sm {
    padding: 0;
    list-style-type: none;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fcfcfc;
    overflow-x: hidden;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.side-nav-sm a {
    display: block;
    padding: 20px 15px 0px 15px;
    font-size: 25px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 25px;
    width: 15rem;
    height: 100%;
}

#sidebar-sm {
    visibility: hidden;
    margin-top: -3rem;
}