section {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-transition: .2s all;
    transition: .2s all;
}

section a {
	width: 80%;
	height: 500px;
}

section a:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
}