@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
  	font-family: 'Poppins', sans-serif;
	margin-top: 2%;
	width: 100%;
	min-width: 440px;
}

header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
	background-color: #000;
	color: #fff;
}

header img {
	width: 50%;
	-webkit-transition: .3s all;
    transition: .3s all;
}

header img:hover {
	width: 70%;
}

nav {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
	margin-bottom: 2%;
}

section {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 100px;	
	-webkit-transition: .2s all;
    transition: .2s all;
}

section a {
	width: 80%;
	height: 500px;
}

section a:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
}

footer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	background-color: #000;
	color: white;
}

footer a {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fff;
	border-radius: 50%;
	-webkit-transition: .3s all;
    transition: .3s all;
}

footer a:hover {
	width: 60px;
	height: 60px;
	border: #000;
	background-color: #0000aa;
}

/* ID */
#kategori {
	margin-bottom: 5%;
	height: 10%;
	background-color: #000;
}

/* Class */
.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	width: auto;
}

.break-side {
	margin-left: 5%;
	margin-right: 5%;
}

.hidden {
	opacity: 0;
}

.form-cari {
	border-radius: 0.25rem;
	margin-left: 10%;
	width: 20%;
	height: 40px;
}

/* Bootstrap Customize */
a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

.btn-link {
	color: #000;
}

hr {
	width: 30%;	
}

.btn-primary {
	background-color: #fff;
	border-color: #000;
	color: #000;
}

.btn-secondary {
	background-color: #000;
	border-color: #000;
	color: #fff;
	margin-left: 2px;
	margin-right: 2px;
}
