@media only screen and (max-width: 990px) {	
}

@media only screen and (min-width: 990px) {
	#display-category {
		display: none;
	}
}

section {
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: .2s all;
    transition: .2s all;
}

section img {
	height: 50px;
}

section .card img {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}

section .row .col {
	min-width: 270px;
}