@media only screen and (max-width: 990px) {
    .login-box {
        border: none !important;
        box-shadow: none !important;
        width: 100% !important;
        height: 100% !important;
    }
}

body {
    font-size: 1rem;
    min-width: 230px;
}

.btn {
    width: 50%;
}

.form-control {
    max-width: 100%;
}

.hidden {
    visibility: hidden;
}

.input-text {
    position: relative;
    z-index: 1;
    margin-left: 10px;
    margin-bottom: -10px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background: #fcfcfc;
    color: #0025FF;
    font-size: 0.9rem;
    transform: translateY(10px);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #0025FF;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #333;
    width: 30%;
    height: auto;
    transform: translate(-50%,-50%);
}

.login-inner {
    margin: 10%;
}

.outline-primary {
    border: 1px solid #0025FF;
    border-radius: 5px;
}

.outline-primary:focus {
    border: 1px solid #001199;
}

.visible {
    visibility: visible;
}

.warning {
    margin-top: -5px;
    margin-bottom: -20px;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
}