@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@media only screen and (max-width: 990px) {	
	header {
		margin-top: 5rem;
		margin-bottom: -100px;
	}
	
	#category {
		display: none;
	}

	.fix-top {
		background-color: #fcfcfc;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1030;
	}
}

@media only screen and (min-width: 990px) {
	header {
		margin-top: -1%;
	}
}

html {
	width: 100%;
    min-width: 300px;
    scroll-behavior: smooth;
}

body {
    background-color: #fcfcfc;
    color: #090909;
	font-family: 'Poppins', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-transition: .3s all;
    transition: .3s all;
}

header {
	width: 100%;
	background-color: #090909;
}

section {
	display: block;
	width: 80%;
	margin-top: 250px;
	margin-bottom: 100px;	
}

nav img {
	width: auto;
	height: 50px;
}

footer {
	display: block;
	margin-top: -25px;
	margin-bottom: -10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #090909;
}

footer a {
    width: 3rem;
    height: 3rem;
    border: 1px solid #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fcfcfc;
	border-radius: 50%;
	-webkit-transition: .3s all;
    transition: .3s all;
}

footer a:hover {
	border: #090909;
	background-color: #0025FF;
}

footer img {
	width: auto;
	height: 3rem;
}


/* Penempatan & Posisi */
.break-side {
	padding-left: 2rem;
	padding-right: 2rem;
}

.break-tb {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.category-link {
	margin-left: 20px;
	margin-right: 20px;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.center-v {
    margin-top: auto;
    margin-bottom: auto;
}
/* End - Penempatan & Posisi */


/* Objek & Item Lain */
.bg-black {
	background-color: #090909;
}

.category-icon {
	height: 15px;
}

.fadein {
	-webkit-transition: .3s all;
    transition: .3s all;
}

.hide {
    visibility: hidden;
}

.hideleft {
	opacity: 0;
	padding-right: 10%;
}

.hideright {
    opacity: 0;
    padding-left: 10%;
}

.hidecenter {
	opacity: 0;
}

.hideup {
	opacity: 0;
	padding-top: 100px;
}

.invisible {
	display: none;
}

#about a {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #090909;
    display: flex;
    color: #090909;
	border-radius: 50%; 
	-webkit-transition: .3s all;
    transition: .3s all;
}

#about a:hover {
	margin: -5px;
	border: #fcfcfc;
}

#round-border {
	background-color: #090909;
	border-radius: 25%;
	margin-top: -25px;
	width: 100%;
	height: 50px;
}

/* End - Objek & Item Lain */


/* Bootstrap Customization */
a {
	color: #090909;
}

a:hover {
	text-decoration: none;
}

hr {
	width: 30%;	
}

.badge {
    background-color: #0025FF;
}

.btn {
    border-radius: 100px;
}

.btn-link {
	color: #090909;
}

.btn-primary {
	background-color: #0025FF;
}

.btn-primary:hover {
	border-color: #090909;
	background-color: #001199;
}

.btn-secondary {
	background-color: #090909;
	border-color: #090909;
	margin-left: 2px;
	margin-right: 2px;
}

.btn-outline-light {
    background-color: #fcfcfc;
}

.btn-outline-light:hover {
    border-color: #0025FF;
}

.btn-outline-primary {
	border-color: #090909; 
	color: #fcfcfc;
}

.btn-outline-primary:hover {
	border-color: #090909;
	background-color: #0025FF;
}

.card {
	margin: 0.5rem;
}

.card p {
	text-align: left;
}

.dropdown-item:hover {
	border-radius: 5px;
	color: #fcfcfc;
	background-color: #0025FF;
}

.modal-body {
    font-weight: normal;
}

.transition {
	-webkit-transition: .3s all;
    transition: .3s all;
}

.form-control {
    max-width: 80%;
    margin-right: -1rem;
}
/* End - Bootstrap Customization */