@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@media only screen and (max-width: 990px) {	
	header {
		margin-top: 75px;
		margin-bottom: -100px;
	}

	footer a {
		width: 20px;
		height: 20px;
		border: 1px solid #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		border-radius: 50%;
		-webkit-transition: .3s all;
		transition: .3s all;
	}

	footer img {
		width: auto;
		height: 20px;
	}
	
	#category {
		display: none;
	}

	.fix-top {
		background-color: #fff;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
}

html {
	width: 100%;
	min-width: 300px;
}

body {
	font-family: 'Poppins', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-transition: .3s all;
    transition: .3s all;
}

header {
	width: 100%;
	background-color: #000;
}

section {
	display: block;
	width: 80%;
	margin-top: 350px;
	margin-bottom: 100px;	
}

nav img {
	width: auto;
	height: 50px;
}

footer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #000;
}

footer a {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fff;
	border-radius: 50%;
	-webkit-transition: .3s all;
    transition: .3s all;
}

footer a:hover {
	width: 60px;
	height: 60px;
	margin-top: -5px;
	border: #000;
	background-color: #0025FF;
}

footer img {
	width: auto;
	height: 50px;
}

.bg-black {
	background-color: #000;
}

.break-side {
	padding-left: 5%;
	padding-right: 5%;
}

.category-link {
	margin-left: 20px;
	margin-right: 20px;
}

.category-icon {
	height: 15px;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.fadein {
	-webkit-transition: .3s all;
    transition: .3s all;
}

.hideleft {
	opacity: 0;
	padding-right: 10%;
	-webkit-transition: .3s all;
	transition: .3s all;
}

.hidecenter {
	opacity: 0;
	-webkit-transition: .3s all;
	transition: .3s all;
}

.invisible {
	display: none;
}

#about a {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    color: #000;
	border-radius: 50%; 
	-webkit-transition: .3s all;
    transition: .3s all;
}

#about a:hover {
	margin-top: -10px;
	width: 50px;
	height: 50px;
	border: #fff;
}

/* Bootstrap Customization Here */
a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

hr {
	width: 30%;	
}

.btn-link {
	color: #000;
}

.btn-primary {
	background-color: #0025FF;
}

.btn-primary:hover {
	border-color: #000;
	background-color: #001199;
}

.btn-secondary {
	background-color: #000;
	border-color: #000;
	margin-left: 2px;
	margin-right: 2px;
}

.btn-outline-primary {
	border-color: #000; 
	color: #fff;
}

.btn-outline-primary:hover {
	border-color: #000;
	background-color: #0025FF;
}

.card {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.dropdown-item:hover {
	border-radius: 5px;
	color: #fff;
	background-color: #0025FF;
}

.transition {
	-webkit-transition: .3s all;
    transition: .3s all;
}

.form-control {
	max-width: 80%;
}

.rounded-circle {
	-webkit-transition: .3s all;
    transition: .3s all;
}

.rounded-circle:hover {
	cursor: zoom-in;
	margin-top: -50px;
	width: 50%;
	height: auto;
}